In [1]:
import pandas as pd
import scipy.stats as stats
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
net_movie = pd.read_csv("Resources/netflix_titles.csv")
net_movie

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [3]:
net_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [4]:
net_movie.shape

(8807, 12)

In [5]:
net_movie.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [6]:
net_movie.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [7]:
data = pd.read_csv("Resources/netflix_titles.csv")

net_movie = pd.DataFrame(net_movie , columns = ['show_id', 'title', 'release_year', 'duration', 'type', 'country', 'rating', 'listed_in'])

df = net_movie.rename({'listed_in': 'genre'}, axis=1)

df

,show_id,title,release_year,duration,type,country,rating,genre
0,s1,Dick Johnson Is Dead,2020,90 min,Movie,United States,PG-13,Documentaries
1,s2,Blood & Water,2021,2 Seasons,TV Show,South Africa,TV-MA,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,Ganglands,2021,1 Season,TV Show,NaN,TV-MA,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,Jailbirds New Orleans,2021,1 Season,TV Show,NaN,TV-MA,"Docuseries, Reality TV"
4,s5,Kota Factory,2021,2 Seasons,TV Show,India,TV-MA,"International TV Shows, Romantic TV Shows, TV ..."
...,...,...,...,...,...,...,...,...
8802,s8803,Zodiac,2007,158 min,Movie,United States,R,"Cult Movies, Dramas, Thrillers"
8803,s8804,Zombie Dumb,2018,2 Seasons,TV Show,NaN,TV-Y7,"Kids' TV, Korean TV Shows, TV Comedies"
8804,s8805,Zombieland,2009,88 min,Movie,United States,R,"Comedies, Horror Movies"
8805,s8806,Zoom,2006,88 min,Movie,United States,PG,"Children & Family Movies, Comedies"
8806,s8807,Zubaan,2015,111 min,Movie,India,TV-14,"Dramas, International Movies, Music & Musicals"

In [8]:
#df = df.loc[(net_movie["release_year"] > 1990)] 
#df

In [9]:
df = df.loc[(net_movie["release_year"])]
df

,show_id,title,release_year,duration,type,country,rating,genre
2020,s2021,Dhh,2017,127 min,Movie,India,TV-G,"Children & Family Movies, Dramas, Internationa..."
2021,s2022,Greenleaf,2020,5 Seasons,TV Show,United States,TV-14,TV Dramas
2021,s2022,Greenleaf,2020,5 Seasons,TV Show,United States,TV-14,TV Dramas
2021,s2022,Greenleaf,2020,5 Seasons,TV Show,United States,TV-14,TV Dramas
2021,s2022,Greenleaf,2020,5 Seasons,TV Show,United States,TV-14,TV Dramas
...,...,...,...,...,...,...,...,...
2007,s2008,Dad Wanted,2020,103 min,Movie,Mexico,TV-14,"Children & Family Movies, Comedies, Dramas"
2018,s2019,Bhai: Vyakti Ki Valli - Uttarardh,2019,112 min,Movie,India,TV-PG,"Dramas, International Movies"
2009,s2010,Girlfriends,2007,8 Seasons,TV Show,United States,TV-14,TV Comedies
2006,s2007,Buddi,2020,2 Seasons,TV Show,"United Kingdom, China",TV-Y,"British TV Shows, Kids' TV"
2015,s2016,Aapla Manus,2018,133 min,Movie,India,TV-14,"Dramas, International Movies, Thrillers"

#Null Value Drops

In [10]:
df["country_clean"] = [x.split(",")[0] if pd.notnull(x) else x for x in df.country ]
df["genre_clean"] = [x.split(",")[0] if pd.notnull(x) else x for x in df.genre ]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 2020 to 2015
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        8807 non-null   object
 1   title          8807 non-null   object
 2   release_year   8807 non-null   int64
 3   duration       8807 non-null   object
 4   type           8807 non-null   object
 5   country        8329 non-null   object
 6   rating         8807 non-null   object
 7   genre          8807 non-null   object
 8   country_clean  8329 non-null   object
 9   genre_clean    8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 756.9+ KB

In [11]:
df.country_clean.value_counts()

India             5695
United States     1170
United Kingdom     523
Spain              261
Germany            203
France             193
Mexico              89
Nigeria             80
Thailand            39
Poland              28
Italy               16
Japan               14
Indonesia           13
South Korea          3
Egypt                2
Name: country_clean, dtype: int64

In [12]:
df.genre_clean.value_counts()

Dramas                      3855
Children & Family Movies    1555
Comedies                    1062
TV Dramas                    599
British TV Shows             437
Stand-Up Comedy              412
International TV Shows       410
TV Comedies                  154
Docuseries                    78
Documentaries                 60
Action & Adventure            59
Crime TV Shows                40
Reality TV                    33
International Movies          30
Anime Series                  11
Kids' TV                      10
Horror Movies                  2
Name: genre_clean, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 2020 to 2015
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        8807 non-null   object
 1   title          8807 non-null   object
 2   release_year   8807 non-null   int64
 3   duration       8807 non-null   object
 4   type           8807 non-null   object
 5   country        8329 non-null   object
 6   rating         8807 non-null   object
 7   genre          8807 non-null   object
 8   country_clean  8329 non-null   object
 9   genre_clean    8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 756.9+ KB

In [16]:
Netclean_df = df[df["type"] != "TV Show"]
Netclean_df.head()

,show_id,title,release_year,duration,type,country,rating,genre,country_clean,genre_clean
2020,s2021,Dhh,2017,127 min,Movie,India,TV-G,"Children & Family Movies, Dramas, Internationa...",India,Children & Family Movies
2020,s2021,Dhh,2017,127 min,Movie,India,TV-G,"Children & Family Movies, Dramas, Internationa...",India,Children & Family Movies
2020,s2021,Dhh,2017,127 min,Movie,India,TV-G,"Children & Family Movies, Dramas, Internationa...",India,Children & Family Movies
2018,s2019,Bhai: Vyakti Ki Valli - Uttarardh,2019,112 min,Movie,India,TV-PG,"Dramas, International Movies",India,Dramas
1996,s1997,The Paramedic,2020,94 min,Movie,Spain,TV-MA,"Dramas, International Movies, Thrillers",Spain,Dramas

In [24]:
Netclean_df = Netclean_df['duration'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)

netclean_df

ValueError: Index contains duplicate entries, cannot reshape

In [21]:
Netclean_df["duration_clean"] = [x.split(" ")[0] if pd.notnull(x) else x for x in df.duration ]
Netclean_df

ValueError: Length of values (8807) does not match length of index (7035)

In [ ]:
df.drop(df.index[df[''] == 'specific_name'], inplace = True)

In [19]:
#Netclean_df["duration_clean"] = [x.split(" ")[0] if pd.notnull(x) else x for x in df.duration ]
#Netclean_df

ValueError: empty separator

In [ ]:
df.drop(df.index[df['myvar'] == 'specific_name'], inplace = True)

In [ ]:
Netclean_df = df[df["type"] != "TV Show"]
Netclean_df.head()

In [ ]:
movie = df.groupby(by=['country']).count()
movie

In [ ]:
pandas.DataFrame.groupby